* {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

#WelcomeCard{
    width:100%;
    max-width:700px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:120px;
}

#ButtonStuff {

}

body {
    background-image: linear-gradient(to right, #3494E6, #EC6EAD);
    font: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    height: 100vh;
}

h1{
    margin-bottom:100px;
    letter-spacing:2px;
}

.btn{
    width:60%;
    padding:22px 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    cursor:pointer;
    background: none;
}

.btn:hover{
    background: rgb(255,255,255,0.2);
}

#GuestButton{
    text-align:center;
    margin-top:18px;
    font-size: 12px;
    color: white;
    cursor:pointer;
}

#GuestButton:hover{
    text-decoration:underline;
}